<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354187218768-3vfhpk0nsf7f5im3rqb2mebor0q4sv51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354187218768-3vfhpk0nsf7f5im3rqb2mebor0q4sv51</string>
	<key>API_KEY</key>
	<string>AIzaSyB4KKmUMQkNXV8THTvIW8TY5jyjXJVP5yo</string>
	<key>GCM_SENDER_ID</key>
	<string>354187218768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nightowls.Kofi</string>
	<key>PROJECT_ID</key>
	<string>kofi-7177d1</string>
	<key>STORAGE_BUCKET</key>
	<string>kofi-7177d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354187218768:ios:1c6f77e67e7c73eade2655</string>
</dict>
</plist>